.vscode/
build/
*.pyc

# Makes it easy to ignore any files you want in your tree but not in git
*gitignore*

# This makes it easy to add a symlink for the rust extension and binaries during
# development without accidentally adding the symlink to git.
arsenal_blender/core.so
arsenal_blender/bin/
