.vscode/
build/
*.pyc

# This makes it easy to add a symlink for the rust extension during development
# without accidentally adding the symlink to git.
arsenal-blender/arsenal.so

# Cargo
/target
**/*.rs.bk
Cargo.lock
